@using Microsoft.Extensions.Localization

@inject IStringLocalizer T

@{
    ViewBag.Title = "Home Page";
}
<section class="section section-md bg-default text-center">
    <div class="container">
        <h3>@Html.Raw(T["Welcome"])</h3>
        <p class="text-spacing-05">@T["Place"]</p>
        <div class="row row-50 justify-content-center align-items-center text-left">
            <div class="col-md-10 col-lg-6">
                <figure class="figure-responsive block-5">
                    <img src="~/HomeAssets/images/home-2-540x413.jpg" alt="" width="540" height="413">
                </figure>
            </div>
            <div class="col-md-10 col-lg-6">
                <div class="row row-50 row-xl-70">
                    <div class="col-sm-6">
                        <!-- Box Line-->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-group"></div>
                                <h5 class="box-line-title">@T["MoreThan"]</h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Box Line-->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-partners"></div>
                                <h5 class="box-line-title">@T["Leading"]</h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Box Line  -->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-chat"></div>
                                <h5 class="box-line-title">@T["24/7"]</h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Box Line-->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-target"></div>
                                <h5 class="box-line-title">@T["Only"]</h5>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Jobs-->
<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row row-40">
            <div class="col-12 text-center">
                <h3>@T["RecentJobs"]</h3>
            </div>
            <div class="col-12">
                <div class="table-job-offers-outer">
                    <table class="table-job-offers table-responsive">
                        <tbody>
                            <tr>
                                <td class="table-job-offers-date"><span>1 hour ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-1-45x45.png" alt="" width="45" height="45">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Senior UX Designer</a></h5>
                                            <p class="text-color-default">StarArt</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$25–$35 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>New York, NY, USA</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge">Full Time</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-2-38x49.png" alt="" width="38" height="49">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Marketing Director</a></h5>
                                            <p class="text-color-default">UpBook</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$45–$53 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Saint-Etienne, France</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge badge-secondary">Part Time</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-3-46x52.png" alt="" width="46" height="52">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Front End Developer</a></h5>
                                            <p class="text-color-default">MediaLab</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$25–$43 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Derry, United Kingdom</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge badge-tertiary">Freelance</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-4-50x49.png" alt="" width="50" height="49">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Social Media Executive</a></h5>
                                            <p class="text-color-default">Creator</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$15–$43 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Los Angeles, CA, USA</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge">Full Time</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-5-48x44.png" alt="" width="48" height="44">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Restaurant Dishwasher</a></h5>
                                            <p class="text-color-default">Camping</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$10–$20 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Stockholm, Sweden</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge badge-secondary">Part Time</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 text-center"><a class="button button-lg button-primary-outline" href="job-listing-full.html">Show More Jobs</a></div>
        </div>
    </div>
</section>

<!-- Pricing-->
<section class="section section-md bg-default">
    <div class="container">
        <h3 class="text-center">@T["Pricing"]</h3>
        <div class="row row-50 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <!-- Pricing Table Classic-->
                <article class="pt pt-classic">
                    <div class="pt-classic-header">
                        <div class="pt-classic-item">
                            <p class="pt-title">@Html.Raw(T["Startup"])
                        </div>
                        <p class="pt-price"><span class="pt-price-small pt-price-currency">$</span><span>59</span><span class="pt-price-small">00</span></p>
                    </div>
                    <div class="pt-classic-main">
                        <ul class="pt-classic-features">
                            <li>Post 8 Jobs</li>
                            <li>5 Highlighted Job Posts</li>
                            <li>Browse Your Job Listings</li>
                            <li>Access to Job Posting Stats</li>
                            <li>Email Support</li>
                            <li>Jobs Expire In 90 Days</li>
                        </ul><a class="button button-primary-outline" href="#">Get started</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Pricing Table Classic-->
                <article class="pt pt-classic">
                    <div class="pt-classic-header">
                        <div class="pt-classic-item">
                            <p class="pt-title text-tertiary">Company</p>
                        </div>
                        <p class="pt-price"><span class="pt-price-small pt-price-currency">$</span><span>89</span><span class="pt-price-small">00</span></p>
                    </div>
                    <div class="pt-classic-main">
                        <ul class="pt-classic-features">
                            <li>Post 28 Jobs</li>
                            <li>10 Highlighted Job Posts</li>
                            <li>Edit Your Job Listings</li>
                            <li>Access to Job Posting Stats</li>
                            <li>Email and Phone Support</li>
                            <li>Jobs Expire In 180 Days</li>
                        </ul><a class="button button-primary-outline" href="#">Get started</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Pricing Table Classic-->
                <article class="pt pt-classic">
                    <div class="pt-classic-header">
                        <div class="pt-classic-item">
                            <p class="pt-title text-secondary">Enterprise</p>
                        </div>
                        <p class="pt-price"><span class="pt-price-small pt-price-currency">$</span><span>199</span><span class="pt-price-small">00</span></p>
                    </div>
                    <div class="pt-classic-main">
                        <ul class="pt-classic-features">
                            <li>Post 35 Jobs</li>
                            <li>15 Highlighted Job Posts</li>
                            <li>Replace Your Job Listings</li>
                            <li>Access to Job Posting Stats</li>
                            <li>24/7 Support</li>
                            <li>Jobs Expire In 250 Days</li>
                        </ul><a class="button button-primary-outline" href="#">Get started</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Steps-->
<section class="section section-md bg-default text-center">
    <div class="container">
        <h3>Just 3 Easy Steps to New Capabilities</h3>
        <ul class="list-linked">
            <li class="ll-item">
                <div class="icon ll-item-icon thin-icon-email-search">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main">
                    <h5 class="ll-item-title"><a href="job-listing.html">Browse Jobs</a></h5>
                    <p>Easy search by category</p>
                </div>
            </li>
            <li class="ll-item">
                <div class="icon ll-item-icon mercury-icon-target-2">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main">
                    <h5 class="ll-item-title"><a href="job-details.html">Find Your Vacancy</a></h5>
                    <p>Choose a suitable job</p>
                </div>
            </li>
            <li class="ll-item">
                <div class="icon ll-item-icon ll-item-icon-sm mercury-icon-e-mail-o">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main">
                    <h5 class="ll-item-title"><a href="submit-resume.html">Submit Resume</a></h5>
                    <p>Get a personal job offer</p>
                </div>
            </li>
            <li class="ll-item">
                <div class="icon ll-item-icon mercury-icon-touch">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main"><a class="button button-sm button-primary-outline" href="job-listing.html">Start Now</a></div>
            </li>
        </ul>
    </div>
</section>
<!-- Latest Posts-->
<section class="section section-md bg-gray-100">
    <div class="container">
        <h3 class="text-center">Latest Posts</h3>
        <div class="row row-30 row-xl-70">
            <div class="col-12 col-lg-4">
                <!-- Post Minimal-->
                <article class="post-minimal">
                    <a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="~/HomeAssets/images/blog-1-369x253.jpg" alt="" width="369" height="253"></a>
                    <div class="post-minimal-main">
                        <h5 class="post-minimal-title"><a href="blog-post.html">8 Surprising Predictions About the Future of Work</a></h5>
                        <p>There’s no denying that the landscape of work is changing. More and more companies are adopting flexible work policies</p>
                        <time class="post-minimal-time" datetime="2019">November 23, 2019</time>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <!-- Post Minimal-->
                <article class="post-minimal">
                    <a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="~/HomeAssets/images/blog-2-369x253.jpg" alt="" width="369" height="253"></a>
                    <div class="post-minimal-main">
                        <h5 class="post-minimal-title"><a href="blog-post.html">Job Search Success: Finding a Business Development Job</a></h5>
                        <p>Business development professionals are at the heart of all sorts of organizations, from startups to multinational corporations.</p>
                        <time class="post-minimal-time" datetime="2019">November 23, 2019</time>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <!-- Post Minimal-->
                <article class="post-minimal">
                    <a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="~/HomeAssets/images/blog-3-369x253.jpg" alt="" width="369" height="253"></a>
                    <div class="post-minimal-main">
                        <h5 class="post-minimal-title"><a href="blog-post.html">How to Impress Your Future Employer</a></h5>
                        <p>You’re committed to your job search, and you use every ounce of your free time you have to comb through listings, write cover</p>
                        <time class="post-minimal-time" datetime="2019">November 23, 2019</time>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- CTA-->