@using RecruitmentAgencyCore.Data.ViewModels;
@using RecruitmentAgencyCore.Service.Models

@if (MenuModel.GetMenuViewModels != null)
{
    <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
            @foreach (var item in MenuModel.GetMenuViewModels)
            {
                if (item.ChildrenMenus.Count() == 0)
                {
                    <li>
                        @if (@item.TypeId == 1)
                        {

                            <a href="/@item.Controller/@item.Action/@item.Parameter">
                                <i class="fas fa-chart-bar"></i>@item.CaptionEn
                            </a>
                        }
                        else
                        {
                            <a href="@item.Url">
                                <i class="fas fa-chart-bar"></i>@item.CaptionEn
                            </a>
                        }
                    </li>
                    continue;
                }
                else
                {
                    <li class="nav-item has-treeview menu-open">

                        <a class="js-arrow" href="#">
                            <i class="fas fa-tachometer-alt"></i>@item.CaptionEn
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>


                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            @foreach (var t in item.ChildrenMenus)
                            {
                                <li>
                                    @if (t.TypeId == 1)
                                    {
                                        <a href="/@t.Controller/@t.Action/@t.Parameter">
                                            <i class="fas fa-tachometer-alt"></i>@t.CaptionEn
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@t.Url" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                @t.CaptionEn
                                            </p>
                                        </a>
                                        <a href="@t.Url">
                                            <i class="fas fa-tachometer-alt"></i>@t.CaptionEn
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>
}